* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  color: white;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.8em;
  padding-top: 80px;
}
.Contact {
  width: 100%;
  margin: auto;
  padding: 60px 0;
  line-height: 1.8em;
}
.Contact h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 15px;
}
.Contact span {
  color: #00e6b8;
}
.Contact p {
  text-align: center;
  margin-bottom: 10px;
}

.Contact-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.Contact-form {
  flex: 1;
  border: 3px solid #00e6b8;
  border-radius: 20px;
  width: 30px;
}

.Contact-form h2 {
  margin-bottom: 20px;
  align-items: center;
}

.Contact-form input {
  width: 80%;
  padding: 14px;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
  font-size: 16px;
  margin-top: 15px;
  margin-left: 30px;
}
.Contact-form textarea {
  width: 80%;
  padding: 14px;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
  font-size: 16px;
  resize: none;
  margin-top: auto;
  margin-left: 30px;
}

button {
  width: 80%;
  padding: 12px;
  margin: 20px;
  background: #00e6b8;
  color: black;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  display: block;
  transition: 0.3s;
  align-items: center;
}
button:hover {
  background-color: #00e6b8;
  transform: scale(1.06);
  cursor: pointer;
}
.Contact-card {
  flex: 1;
  width: 280px;
  background-color: #111;
  border: 3px solid #00e6b8;
  border-radius: 20px;
  padding: 25px;
  transition: 0.5s;
  box-shadow: 0 0 10px #fff;
}
.Contact-card:hover {
  transform: translateY(-12px);
  cursor: pointer;
}
.Contact-card h2 {
  margin-bottom: 70px;
  align-items: center;
}
.Contact-card a {
  text-decoration: none;
  color: white;
}
.Contact-card a:hover {
  color: #00e6b8;
}

.Contact-info {
  flex: 1;
}
.Contact-info a {
  color: #00e6b8;
  text-decoration: none;
}

.Contact-info a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .Contact-hero {
    flex-direction: column;
    align-items: center;
  }
  .Contact-form {
    width: 300px;
  }

  .Contact-card {
    width: 300px;
    height: 10px;
  }

p {
  text-align: center;
  color: white;
  font-size:20px;
  line-height: 1.8;
}
