* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(13, 13, 14);
  padding-top: 80px;
}
.info {
  width: 700px;
  height: auto;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 25px;
  box-shadow: 1px 0px 5px 1px rgba(194, 190, 190, 0.952);
  margin-top: 170px;
  margin-left: 500px;
  background: white;
  transition: 0.3s ease-in;
}

.info:hover {
  transform: translateY(-10px);
}

.info h3 {
  text-align: center;
  font-size: 1.3rem;
}

.info img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-left: 300px;
  border-radius: 50%;
  border: 2px solid rgb(69, 202, 243);
  transition: 0.4s ease-in-out;
}

.info img:hover {
  transform: translateY(-10px) scale(1.1);
  border: 3px solid rgb(88, 223, 228);
}

.form {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 3fr 3fr;
  background: rgba(71, 220, 247, 0.164);
  border-radius: 15px;
  margin: 10px;
}

label {
  margin-top: 10px;
}

input {
  width: 97%;
  padding: 20px;
  border: 2px solid rgb(37, 245, 252);
  justify-content: space-between;
  border-radius: 10px;
  border-right: 2px solid rgb(97, 203, 245);
  transition: 0.4s ease-in-out;
}

input::placeholder {
  font-size: 1.2rem;
}

input:focus {
  border: 1px solid rgb(30, 192, 233);
}
input:hover {
  transform: translateY(-5pxpx) scale(1);
}

button {
  padding: 20px;
  width: 100%;
  margin: 20px;
  border-radius: 10px;
  margin-left: 150px;
  border: none;
  transition: 0.3s ease-in-out;
}

.btn button:hover {
  border-top: 4px solid rgba(255, 0, 0, 0.377);
  transform: translate(-10px) scale(1.2);
}

#button1 {
  background: rgb(30, 205, 236);
}
@media(max-width:768px){
  .info{
    
  }
}