* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(36, 36, 37);
}
.info {
  width: 700px;
  height: auto;
  justify-content: center;
  border: 1px solid rgba(172, 255, 47, 0.007);
  border-radius: 25px;
  box-shadow: 1px 0px 5px 1px rgba(194, 190, 190, 0.952);
  margin-top: 170px;
  margin-left: 500px;
  background: white;
  transition: 0.3s ease-in;
}

.info:hover {
  transform: translateY(-5px);
}

.info h3 {
  text-align: center;
  font-size: 1.3rem;
}

.info img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-left: 300px;
  border-radius: 50%;
  border: 3px solid rgb(31, 232, 247);
  transition: 0.4s ease-in-out;
}

.info img:hover {
  transform: translateY(-10px) scale(1.2);
  border: 3px solid greenyellow;
}

.form {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 3fr 3fr;
  background: rgba(218, 221, 216, 0.164);
  border-radius: 15px;
  margin: 10px;
}

label {
  margin-top: 10px;
}

input {
  width: 97%;
  padding: 20px;
  border: 2px solid rgba(0, 0, 255, 0.13);
  justify-content: space-between;
  border-radius: 10px;
  border-right: 2px solid rgb(194, 166, 7);
  transition: 0.4s ease-in-out;
}

input::placeholder {
  font-size: 1.2rem;
}

input:focus {
  border: 1px solid orange;
}
input:hover {
  transform: translateY(-10px) scale(1);
}

button {
  padding: 20px;
  width: 100%;
  margin: 20px;
  border-radius: 10px;
  margin-left: 150px;
  border: none;
  transition: 0.3s ease-in-out;
  background: lawngreen;
}

#button1 {
  background: rgb(16, 242, 250);
  font-size: 1rem;
}

#button1:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgb(16, 242, 250);
}
